---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Homepage';
---
<BaseLayout pageTitle = {pageTitle}>
	<p>My Blog homepage. Leaving blank because we will be switching to themes shortly.</p>
	<p>Placeholder for Astro blog tutorial</p>
</BaseLayout>